Sort test!

[CONFIG]
STARTBANK=$50
ENDBANK=$80
[FILELIST]
FILE_001,python/projutils/tests/assets/autopack/size_1000.dat
FILE_002,python/projutils/tests/assets/autopack/size_100.dat
FILE_003,python/projutils/tests/assets/autopack/size_1000.dat
FILE_004,python/projutils/tests/assets/autopack/size_1000.dat