Too small!

[CONFIG]
STARTBANK=$50
ENDBANK=$53
[FILELIST]
FILE_001,python/projutils/tests/assets/autopack/size_4000.dat
FILE_002,python/projutils/tests/assets/autopack/size_4000.dat
FILE_003,python/projutils/tests/assets/autopack/size_4000.dat
FILE_004,python/projutils/tests/assets/autopack/size_4000.dat
FILE_005,python/projutils/tests/assets/autopack/size_4000.dat
FILE_006,python/projutils/tests/assets/autopack/size_4000.dat